@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Importing Google Fonts for Playfair Display and Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@400;700&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  /* Apply default font family to body */
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif !important;
  }

  p {
    font-family: 'Inter', sans-serif; /* Set Inter font for paragraphs */
    font-weight: 400; /* Optional: Ensure regular weight */
  }

}


.custom-radial-gradient {
  background: rgb(220,187,112);
  background: radial-gradient(circle, rgba(220,187,112,1) 27%, rgba(220,187,117,1) 100%);
}

.generatTicketBgColor {
  background: rgb(40,54,6);
  background: linear-gradient(97deg, rgba(40,54,6,1) 27%, rgba(15,21,0,1) 100%);  
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;  /* Hides scrollbar in IE and Edge */
  scrollbar-width: none;      /* Hides scrollbar in Firefox */
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Hides scrollbar in Chrome, Safari, and Opera */
}

.experienceCard { 
  border: 16px solid #384c07ba;
}

.cardbg {
  background-color: #384c07ba;
}
